@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; /* Garante que o conteúdo ocupe a altura total da tela */
}

main {
  flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}

.cover-banner-img {
  width: 100%;
  max-height: 400px; /* Altura máxima aumentada para 400px */
  object-fit: contain; /* Garante que toda a imagem seja exibida sem corte */
  display: block;
}



